body{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'DynaPuff', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Condensed', sans-serif;
}
.bay-now-button{
    background-color: black;
    color: white;
    padding: ;
    border-radius: 5px;
    
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-inner{
    padding: 20px 40px;
}
.lotupoto{
    border: none;
}
#last-sentar{
    text-align: center;
    color: orange;
}
.col-md-3{
    box-shadow: 0px 0px 7px grey;
}
footer p{
    text-align: center;
    color: rgb(5, 5, 5);
}